.App {
  
  left:0%;
  right:0%;
  top:0%;
  bottom: 0%;

  background:#FFFFFF;
  
  border: 1px solid #D3DAE4;
  box-sizing: border-box;
  border-radius: 2px;
  
  height: 170px;
  width: 880px;
  left: 0px;
  top: 0px;
  border-radius: 2px;

}


@font-face 
{
  font-family: 'MyFont';
  src: local('MyFont'), url(./fonts/MyFont.woff) format('woff');
}



body i 
{
  position:absolute;
  display: inline-block;
  font-family:'FontAwesome'!important;
  font-size: 11px;
  color:#D38235;
  margin-left: 90px;
  margin-top: 20px;

}

.Description
{
  text-align: left;
  font-family: "MyFont";
  margin-left: 10px;
  color:#0070C8;
}



.Workers{
  -ms-box-orient: horizontal;
  display: flex;
}

.WorkerContainer
{

  text-align: left;
  width:700px;
  margin-left: 10px;
  height: 90px;

}

.Name{
  height: 20px;
  width: 170px;
  border-radius: nullpx;
  color:black;

  position: absolute;
  display: inline-block;
  

  margin-left: 90px;
  margin-top: 45px;

  font-family: 'MyFont';
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;


}

.Status
{
  position: absolute;
  display: inline-block;

  border-radius: nullpx;
  color:#626621;

  
  width:170px;
  height:20px;

  margin-left: 90px;
  margin-top: 40px;
  

  font-family: 'MyFont';
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
 
  text-decoration: none;

  flex:none;
  order:2;


}

.Image{
  display: inline-block;
  height: 70px;
  width: 70px;
  left: 0px;
  top: 0px;
    
  border: 1px solid #DCDCDC;
  box-sizing: border-box;
  border-radius: 10px;
  
  margin-left: 10px;
  margin-top:-25px;
  

}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


